<div id="bottomArrow">
	<?xml version="1.0" encoding="utf-8"?>
	<svg class="arrowSVG" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50.3 89.5" style="enable-background:new 0 0 50.3 89.5;" xml:space="preserve">
		<polygon class="arrow" points="45.5,88.5 1.7,44.8 45.5,1 49,4.5 8.8,44.8 49,85 "/>
	</svg>
</div>