	<title>Scott McInnis</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="assets/images/favicon_purples_shadowed.ico" type="image/x-icon">
	<link rel="icon" type="image/png" href="assets/favicons/m-favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="assets/favicons/m-favicon-16x16.png" sizes="16x16" />
	<!-- <link rel="icon" href="assets/favicons/favicon_purples_shadowed.ico" type="image/x-icon"> -->

	<link rel="stylesheet" type="text/css" href="assets/mcmello.css">
	<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700|Montserrat|Raleway:100,400,800|Alegreya:400i" rel="stylesheet">