<header>
	
	<a href="/"><% include partials/icon_svg.ejs %></a>


	<h1 class="title">Scott McInnis</h1>
	<nav class="headerNav">
		<ul>
			<li><a href="art">Art</a></li>
			<li><a href="/">Design</a></li> <!--  class="currentPage" -->
			<li><a href="#">About</a></li>
		</ul>
	</nav>
</header>
