<head>
	<title>Scott McInnis</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="assets/images/favicon_purples_shadowed.ico" type="image/x-icon">
	<link rel="icon" href="assets/favicons/favicon_purples_shadowed.ico" type="image/x-icon">

	<link rel="stylesheet" type="text/css" href="assets/macinations.css">
	<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600,700,800,900" rel="stylesheet">
</head>