<section id="inquiry">
	<form id="inquiry_form" method="POST" action="/inquire">
		<h3>Inquire</h3>
		<label for="name">Name</label>
		<input type="text" id="name" name="name">
		<label for="email">Email Address</label>
		<input type="text" id="email" name="email">
		<label for="email">Inquiry</label>
		<textarea id="message" name="message"></textarea>
		<button type="submit">Send inquiry</button>
	</form>
</section>