<div class="printContainer" style="margin-top: 50px;">		
	<div class="print"><img class="shadowed wide" src="images/prints/kibbie_lake.webp"></div>
	<div class="printDesc">
		<h2>Kibbie Lake</h2>
		<em>Intaglio Print - 6" x 9"</em>
		<p>Washed ashore in the backcountry. The stars of the Emmigrant drip down into our heavenly springs.</p>
		<a href="#inquiry"><div class="inquireCircle">i</div></a><div class="date">Feb 6th, 2018</div>
	</div>
</div>