<!DOCTYPE html>
<html>
	<head>
		<% include partials/head.ejs %>		
	</head>

<body style="background: url('assets/images/prints/background-stripe-black.png'); background-size: 8px;">
	<% include partials/header.ejs %>

	<h2>The Rainmaker</h2>
	<h4>— Design | Developement | Fine Art —</h4>
 
	<section>
		<div class="printContainer" id="profilePic" style="margin-top: 50px;">		
			<div class="print"><img class="shadowed wide" src="assets/images/profile_pic.jpg"></div>
			<div class="printDesc">
				<h2>Dreams & Motivations</h2>
				<em>b. 1986</em>
				<p>5ft 10in, 175lbs</p>
			</div>
		</div>

	</section>	

	<% include partials/inquire.ejs %>

	<% include partials/footer.ejs %>

	<script src="assets/mcmello.js"></script>
</body>
</html>