<!DOCTYPE html>
<html>
	<head>
		<% include partials/head.ejs %>		
	</head>

<body style="background: url('assets/images/prints/background-stripe-black.png'); background-size: 8px;">
	<% include partials/header.ejs %>

	<section class="prints">
		<h2>About</h2>
		<h4>— Design <span class="grayText">|</span> Developement <span class="grayText">|</span> Fine Art —</h4>
			<div class="printContainer" id="profilePic" style="margin-top: 50px;">		
				<div class="print" style="margin-right: 5px;"><img class="shadowed wide" style="border-radius: 5px;" src="assets/images/profile_pic.jpg"></div>
				<div class="printDesc">
					<h2>Building Bridges</h2>
					<em>Since 2010</em>
					<p>I wander the world, seeking out problems and exploring ways to solve them. Working as a front-end developer for the last 5 years, I am well versed in CSS / HTML / JS / PHP / NodeJS and have developed custom sites on a variety of platforms from Worpress and Squarespace to dedicated servers. Tell me your dreams, I'll help you build them.</p>
					<!-- <p>Formats are everchanging, from eons of etchings in solid stone to the contemporary, effemeral tweet, but the message remains the same. An idea, passed on from one mind to the next, can only go so far; the distance depends entirely upon the strength and efficency of its design. I seek to create products that stand the test of time and effectively enhance the work of the client.</p> -->
				</div>
			</div>
	</section>	

	<% include partials/inquire.ejs %>

	<% include partials/footer.ejs %>

	<script src="assets/mcmello.js"></script>
</body>
</html>