<!DOCTYPE html>
<html>
	<% include partials/head.ejs %>

<body style="background: url('assets/images/prints/background-stripe-black.png'); background-size: 8px;">
	<% include partials/header.ejs %>
<!-- BACK ARROW CODE -->
	<% include partials/backArrow.ejs %>
<!-- END OF BACK ARROW CODE -->
 	<% include partials/display_prints.ejs %>

	<% include partials/inquire.ejs %>

	<footer>
		<h3>. . . thanks for viewing . . .</h3>
		<img src="assets/images/m_logo-white.svg">
	</footer>

	<% include partials/bottomArrow.ejs %>

	<script src="assets/mcmello.js"></script>
</body>
</html>