<!DOCTYPE html>
<html>
	<head>
		<% include partials/head.ejs %>
	</head>
<body>
	<div id="preload" style="width: 5px; height: 5px;"></div>
	<% include partials/header.ejs %>
<!-- BACK ARROW CODE -->
	<% include partials/backArrow.ejs %>
<!-- END OF BACK ARROW CODE -->
	<section class="hero">
		<article id="occulum">
			<div>
				<span class="itemNumber">01</span>
				<span class="itemDash">..</span>
				<span class="itemTitle">Occulum</span>
				<span class="itemLetter">O</span>
			</div>
		</article><!--
	 --><article id="griffith">
	 		<div>
	 			<span class="itemNumber">02</span>
	 			<span class="itemDash">..</span>
	 			<span class="itemTitle">Griffith</span>
	 			<span class="itemLetter">G</span>
	 		</div>
	 	</article><!--
	 --><article id="frequency">
	 		<div>
	 			<span class="itemNumber">03</span>
	 			<span class="itemDash">..</span>
	 			<span class="itemTitle">Frequency Wines</span>
	 			<span class="itemLetter">F</span>
	 		</div>
	 	</article><!--
	 --><article id="hp">
	 		<div>
	 			<span class="itemNumber">04</span>
	 			<span class="itemDash">..</span>
	 			<span class="itemTitle">Hewlett-Packard</span>
	 			<span class="itemLetter">H</span>
	 		</div>
	 	</article><!--
	 --><article id="dipalermo">
	 		<div>
	 			<span class="itemNumber">05</span>
	 			<span class="itemDash">..</span>
	 			<span class="itemTitle">DiPalermo</span>
	 			<span class="itemLetter">D</span>
	 		</div>
	 	</article><!--
	 --><article id="trudeau">
	 		<div>
	 			<span class="itemNumber">06</span>
	 			<span class="itemDash">..</span>
	 			<span class="itemTitle">Trudeau Bread</span>
	 			<span class="itemLetter">T</span>
	 		</div>
	 	</article><!--
	 --><article id="baseChalk">
	 		<div>
	 			<span class="itemNumber">07</span>
	 			<span class="itemDash">..</span>
	 			<span class="itemTitle">Base Chalk</span>
	 			<span class="itemLetter">B</span>
	 		</div>
	 	</article><!--
	 --><article id="sportsBasement">
	 		<div>
	 			<span class="itemNumber">08</span>
	 			<span class="itemDash">..</span>
	 			<span class="itemTitle">Sports Basement</span>
	 			<span class="itemLetter">S</span>
	 		</div>
	 	</article>
	</section>

	<section class="projects">
		<article id="occulumProject">
			<h2>Occulum</h2>
			<h4>— Label Design —</h4>
			<div class="topImage"></div>
			<div class="projectContent">
				<div class="dash">—</div>
				<h3>Medusa's Glare</h3>
				<p>Running on the success of the new DiPalermo label, Frequency Wines approached me to create a new label with the name and style of my own design. After a bit of research I decided to approach the project with a blend of occult and agency.</p>
				<p>Working under and aura of Freemasons, visions of Illuminati, and iconography from a variety of fraternal organizations, I began whittling down the imagery I wanted to showcase. The eye and triangle became common symbols from which to expand upon and build the brand.</p>
				<div class="image image1"></div>
				<p>I almost always begin designing with micro sketches to flesh out the general shape and layout, then work my way up to larger sketches before tracing details into a life-size illustration. After a variety of renditions, the form begins to resolve into the polished final design.</p>
				<div class="slideBox">
					<div class="slide" id="slide1">
						<div class="caption">Projects almost always begin as quick exploratory sketches.</div>
					</div>
					<div class="slide" id="slide2">
						<div class="caption">Successful sketches are expanded upon with additional details and possibilities.</div>
					</div>
					<div class="slide" id="slide3">
						<div class="caption">Chosen designs are fleshed out with illustrative flare.</div>
					</div>
					<div class="slide" id="slide4">
						<div class="caption">Finalizing touches are added before digital rendering takes place.</div>
					</div>
					<div class="navButton previous">&#10094;</div>
					<div class="navButton next">&#10095;</div>
				</div>
				<div class="image image2"></div>
			</div>
		</article>
		<article id="griffithProject">
			<h2>Griffith Observatory</h2>
			<h4>— Web Design & Development —</h4>
			<div class="topImage"></div>
			<div class="projectContent">
				<div class="dash">—</div>
				<h3>The Ultimate Overlook</h3>
				<p>Griffith Observatory sits atop Los Angeles as a beacon for the curious. Catering to over a million visitors annually, the gem on the hill needs to be accessible and easy to explore.</p>
				<div class="image image1"></div>
				<p>Unfortunately, a confusing and antiquated online presence meant the park was reaching and enlightening a smaller audience than it deserved. A quick update to their navigation system and editting their online content made for a beautiful simplification that mirrors Griffith's call for exploration and discovery.</p>
				<div class="image image2"></div>
				<a target="_blank" href="http://mactruck.github.io/griffith"><button>Explore the site</button></a>
			</div>
		</article>
		<article id="frequencyProject">
			<h2>Frequency Wine Co.</h2>
			<h4>— Branding & Labelling —</h4>
			<div class="topImage"></div>
			<div class="projectContent">
				<div class="dash">—</div>
				<h3>Harmony in a Bottle</h3>
				<p>Frequency Wines is known for their partnerships with artists throughout the country to symbiotically expose artists with artisans. I designed their original labels to best showcase the artists work on the bottle.</p>
				<div class="image image1"></div>
				<p>When Frequency Wines wanted to update their original label to include more information, they trusted me to retain all of their elegence, while adding all the flare and details for a work of art.</p>
				<div class="image image2"></div>
				<p>The original, subtle, yet delicate label still adorns the bottom of the Artist Series bottles. At the time of its creation, the winemaker was looking for the smallest possible label to pair with their approachable, elegant wines. A delicately embossed terrain map highlights the sculpted nature of the wines through years or artisanal handling and preparation.</p>
				<p>They soon wanted to expand their branding collateral to include items such as tasting menus, promotional cards and signage for their new tasting room in downtown Santa Barbara. While the signage was being carved and painted, the tasting menu and 2 for 1 cards were pressed and polished.</p>
				<div class="image image3"></div>
				<p>As for the tasting notes, Winemaker Zac Wasserman, wanted to retain the elegance of the wine labels, but blend in an aire of whimsy. Easy to understand, with extra breathing room and just enough extraneous commentary to allow the taster to engage with the wines, these tasting notes help bring the wines to life.</p>
				<p>Additional info, such as soil quality and food pairings aid in differentiating one wine from another, while also harvesting a more approachable tone than other wines usually allow.</p>
				<div class="image image4"></div>
				<p>Additionally, I designed and developed frequencywines.com, pairing their wines with an equally elegant online presence.</p>
				<a target="_blank" href="http://www.frequencywines.com"><button>See the site</button></a>
			</div>
		</article>
		<article id="hpProject">
			<h2>Hewlett-Packard</h2>
			<h4>— Web Dev & Merchandising —</h4>
			<div class="topImage"></div>
			<div class="projectContent">
				<div class="dash">—</div>
				<h3>Innovation at Work</h3>
				<p>From November of 2014 through October 2017 I was employed as the Senior Graphic Designer for the HP online store developing banners, sites and circulars for one of the premier online retailers. I developed a huge collection of hero banners for the HP Store. Coded and animated in HTML, these banners were distributed for use throughout the world for HP. Items like button type, location, color, copy and more were all A/B tested on a regular basis to increase clicks, follow-through and conversion.</p>
				<div class="slideBox">
					<div class="slide" id="hpSlide1">
						<!-- <div class="caption">Projects almost always begin as quick exploratory sketches.</div> -->
					</div>
					<div class="slide" id="hpSlide2">
						<!-- <div class="caption">Successful sketches are expanded upon with additional details and possibilities.</div> -->
					</div>
					<div class="slide" id="hpSlide3">
						<!-- <div class="caption">Chosen designs are fleshed out with illustrative flare.</div> -->
					</div>
					<div class="slide" id="hpSlide4">
						<!-- <div class="caption">Finalizing touches are added before digital rendering takes place.</div> -->
					</div>
					<div class="slide" id="hpSlide5">
						<!-- <div class="caption">Finalizing touches are added before digital rendering takes place.</div> -->
					</div>
					<div class="navButton previous">&#10094;</div>
					<div class="navButton next">&#10095;</div>
				</div>
				<p>Below is a selection of pages from one of the many digital ad-scans used to help promote HP products and services throughout the major shopping holidays. The full 24-page Black Friday document, brought in over a million dollars from sponsored partnerships alone.</p>
				<div class="slideBox" id="slideBox2">
					<div class="slide" id="hpSlide6">
						<!-- <div class="caption">Projects almost always begin as quick exploratory sketches.</div> -->
					</div>
					<div class="slide" id="hpSlide7">
						<!-- <div class="caption">Successful sketches are expanded upon with additional details and possibilities.</div> -->
					</div>
					<div class="slide" id="hpSlide8">
						<!-- <div class="caption">Chosen designs are fleshed out with illustrative flare.</div> -->
					</div>
					<div class="slide" id="hpSlide9">
						<!-- <div class="caption">Finalizing touches are added before digital rendering takes place.</div> -->
					</div>
					<div class="navButton previous">&#10094;</div>
					<div class="navButton next">&#10095;</div>
				</div>
			</div>
		</article>
		<article id="dipalermoProject">
			<h2>DiPalermo</h2>
			<h4>— Label Design —</h4>
			<div class="topImage"></div>
			<div class="projectContent">
				<div class="dash">—</div>
				<h3>Regal Elegance</h3>
				<p>Frequency Wines approached me when looking to update and elevate their luxury wine offering. In order to keep with the brand standards, I designed an intricate debossing plate to pair the opulence of the wine, with the subtle styling of Frequency wines.</p>
				<div class="image image1"></div>
				<p>Reminiscent of carved marble monuments that stand the test of time, the new label evinces an elemental sense refinement and power. DiPalermo winemakers sought to stand out from a crowded retail space, by promoting the artisanal craft they put into every bottle. I began experimenting with a variety of layouts, using color as a bold statement, but quickly realized that a dynamic change to the shape would emphasize the uniqueness of the winemakers approach to their work.</p>
			</div>
		</article>
		<article id="trudeauProject">
			<h2>Trudeau Bread Co.</h2>
			<h4>— Packaging Design —</h4>
			<div class="topImage"></div>
			<div class="projectContent">
				<div class="dash">—</div>
				<h3>Heaven Rising</h3>
				<p>A small bread company came to me for an identity and logo for their acclaimed loaves. Trudeau focuses on artisanal baked goods through a mixture of rustic techniques and experimental ingredients. Working without running water or electricity, each loaf is carefully handcrafted and baked to perfection. They were looking for a simply logo that could be easily applied to their packaging.</p>
				<div class="image image1"></div>
				<p>Desiring a handmade touch to emphasize their humble roots, I began to hone in on a illustration style that would ring true to their dedicated customers. Through investigation of historical bread company logos, I noticed that many appear as shield-like emblems that evince strength and age-old wisdom. Trial and error led to the eventual oval shape for its welcoming appeal.</p>
				<p>Hand-drawn type, was a necessity for this logo, but honing in on the specific specimens took quite a bit of experimentation. Once the layout and design were finalized I produced a laser-cut stamp for the clients, and helped flesh out their first production run of screen printed bread bags.</p>
			</div>
		</article>
		<article id="baseChalkProject">
			<h2>Base Chalk</h2>
			<h4>— Packaging Design —</h4>
			<div class="topImage"></div>
			<div class="projectContent">
				<div class="dash">—</div>
				<h3>Solid Footing</h3>
				<p>Stability and durability, all in a reusable, recyclable container. The Base logo showcases the strength of the overall product. Final packaging was decided to be screen printed onto large, refillable, snap-lid mason jars.</p>
				<p>Base Chalk wanted to emphasize their commitment to a green business through their packaging, By eschewing plastics, they decreased their footprint on the planet, while also creating a strong, clean design aesthetic. For chalk blocks, paper and cardboard packaging worked well enough, but loose chalk required a reimagining of design, and materials.</p>
				<div class="image image1"></div>
				<p>Since climbers quite literally put their lives in their own hands, they are particularly focused on having the best preparation, and most trustworthy equipment possible. As with all clients, I provided Base with a multitude of options that evinced the strong foundation and dependable quality that differentiates their products from a crowded and well defined market.</p>
				<div class="slideBox">
					<div class="slide" id="baseChalkSlide1">
						<!-- <div class="caption">Projects almost always begin as quick exploratory sketches.</div> -->
					</div>
					<div class="slide" id="baseChalkSlide2">
						<!-- <div class="caption">Successful sketches are expanded upon with additional details and possibilities.</div> -->
					</div>
					<div class="slide" id="baseChalkSlide3">
						<!-- <div class="caption">Chosen designs are fleshed out with illustrative flare.</div> -->
					</div>
					<div class="slide" id="baseChalkSlide4">
						<!-- <div class="caption">Finalizing touches are added before digital rendering takes place.</div> -->
					</div>
					<div class="slide" id="baseChalkSlide5">
						<!-- <div class="caption">Finalizing touches are added before digital rendering takes place.</div> -->
					</div>
					<div class="navButton previous">&#10094;</div>
					<div class="navButton next">&#10095;</div>
				</div>
			</div>
		</article>
		<article id="sportsBasementProject">
			<h2>Sports Basement</h2>
			<h4>— Merchandising Signage —</h4>
			<div class="topImage"></div>
			<div class="projectContent">
				<div class="dash">—</div>
				<h3>Solid Footing</h3>
				<p>Every year millions of dollars are spent on winter hardgoods. To help save energy and resources for their floor staff, Sports Basement approached me to create informational signage that would help customers understand their products better.The final signs would need to help explain differences between over 200 ski and snowboard gear items.</p>
				<div class="image"></div>
			</div>
		</article>
	</section>

	<% include partials/footer.ejs %>

	<script src="assets/mcmello.js"></script>
	<script type="text/javascript">
		var preload = function() {
			var heroImage = document.querySelector(".hero");
			var heroImages = document.querySelectorAll(".hero article");
			heroImages.forEach(image => {
				var preloadImage = document.createElement("div");
				preloadImage.style.visibility = "hidden";
				preloadImage.style.backgroundImage = `url(assets/images/${image.id}.jpg)`;
				document.body.insertBefore(preloadImage, heroImage);
			});
		}
		
		preload();
	</script>
</body>
</html>