<!DOCTYPE html>
<html>
<head>
	<title>Project View</title>
</head>
<body>
	<article id="<%= project %>">
			<h2><%= project.name %></h2>
			<h4>— <%= project.skills %> —</h4>
			<div class="hero"></div>
			<div class="projectContent">
				<div class="dash">—</div>
				<h3>Medusa's Glare</h3> <--- snippets --->
				<p>Running on the success of the new DiPalermo label, Frequency Wines approached me to create a new label with the name and style of my own design. After a bit of research I decided to approach the project with a blend of occult and agency.</p>
				<p>Working under and aura of Freemasons, visions of Illuminati, and iconography from a variety of fraternal organizations, I began whittling down the imagery I wanted to showcase. The eye and triangle became common symbols from which to expand upon and build the brand.</p>
				<div class="image image1"></div>
				<p>I almost always begin designing with micro sketches to flesh out the general shape and layout, then work my way up to larger sketches before tracing details into a life-size illustration. After a variety of renditions, the form begins to resolve into the polished final design.</p>
				<div class="slideBox">
					<div class="slide" id="slide1">
						<div class="caption">Projects almost always begin as quick exploratory sketches.</div>
					</div>
					<div class="slide" id="slide2">
						<div class="caption">Successful sketches are expanded upon with additional details and possibilities.</div>
					</div>
					<div class="slide" id="slide3">
						<div class="caption">Chosen designs are fleshed out with illustrative flare.</div>
					</div>
					<div class="slide" id="slide4">
						<div class="caption">Finalizing touches are added before digital rendering takes place.</div>
					</div>
					<div class="navButton previous">&#10094;</div>
					<div class="navButton next">&#10095;</div>
				</div>
				<div class="image image2"></div>
			</div>
		</article>
</body>
</html>