:root {
	--purple1: #FF39C2;
	--purple2: #93278F;
	--purple3: #662D91;
	--purple4: #6614AC;
  	--green1: #8CC63F;		
  	--green2: #009245;		
  	--green3: #006837;		
  	--green4: #004C23;		
  	--orange: #ffb036;

	--orange4: #FC9F0A;
	--orange3: #FF8800;
	--orange2: #FB6900;
  	--orange1: #F63700;
}

html {
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 3px;
    background: #191919;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkorchid;
  outline: 1px solid slategrey;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5 {
	font-weight: 400;
	letter-spacing: .25em;
	margin-bottom: .5em;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	font-size: 2rem;
	letter-spacing: .2em;
}
h4 {
	color: mediumorchid;	/* #777 */
	letter-spacing: .2em;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Barlow Condensed";
	background: #191919;
}
header {
	width: 100%;
	text-align: center;
	padding: 21px;
	height: 73px;
}
.grayText {
	color: rgba(255,255,255,.125);
}
.orangeText {
	color: var(--orange);
}
header .icon {
	height: 40px;
	float: left;
	margin-top: -5px;
}
.iconTop {
	fill: var(--purple3);
	transition: 1s ease all;
	    /*fill: #02AAB0;*/
}
.dot {
	fill: var(--purple4);
	transition: 1s ease all;
	    /*fill: #1693A5;*/
}
.iconMiddle {
	fill: var(--purple2);
	transition: 1s ease all;
	    /*fill: #00CDAC;*/
}
.iconBottom {
	fill: var(--purple1);
	transition: 1s ease all;
	    /*fill: #C3FF68;*/
}
nav {
	float: right;
}
nav ul li {
	display: inline-block;
	float: right;
	margin-right: 30px;
	color: #ddd;
	font-size: .95rem;
	letter-spacing: .1em;
	text-transform: uppercase;
}
nav ul li:first-child {
	margin-right: 5px;
}
nav ul li a {
	color: mediumorchid;
	transition: .5s ease all;
}
nav ul li a:hover {
	color: white;
}
.title {
	color: #eee;
	font-size: 1.4rem;
	line-height: .5em;
	letter-spacing: .25em;
	text-transform: uppercase;
	text-align: right;
	margin-bottom: .4em;
	float: right;
}
.currentPage {
	background-image: url("images/dots.svg");
	background-repeat: no-repeat;
	background-position: top center;
	padding-bottom: 5px;
}
.hero {
	background-image: url("images/frequency.jpg");
	background-position: center;
	position: relative;
	width: 100%;
	left: 0;
	margin-top: 50px;
	transition: 1s ease background;
	transition: 2s ease transform;
	z-index: 99;
}
.hero article {
	cursor: pointer;
	width: 50%;
	height: 150px;
	background: rgba(0,0,0,.125);
	display: inline-block;
	padding: 20px;
	color: white;
	border-right: 1px solid rgba(0,0,0,.5);
	vertical-align: bottom;
	transition: .125s ease all;
}
.hero article:hover {
	background: rgba(0,0,0,1);
}
.hero article:hover .itemTitle, .hero article:hover .itemDash {
	letter-spacing: .5em;
}
.hero article:hover .itemLetter {
	opacity: 1;
}
.itemNumber {
	font-size: .75rem;
	font-weight: 400;
	letter-spacing: .075em;
}
.itemDash {
	display: block;
	opacity: .25;
	letter-spacing: .025em;
	transition: .5s ease all;
}
.itemTitle {
	font-size: .95rem;
	letter-spacing: .1em;
	text-transform: uppercase;
	transition: .5s ease all;
}
.itemLetter {
	display: none;
	font-size: 12em;
	font-weight: 700;
	line-height: 1em;
	text-align: center;
	opacity: 0;
	transition: .5s ease all;
}
#backArrow, #bottomArrow {
	cursor: pointer;
	position: fixed;
	text-align: center;
	font-size: 3em;
	background: linear-gradient(125deg, mediumorchid 20%, #a03dd2);
	border-radius: 0 3px 3px 0;
	width: 2em;
	height: 1.5em;
	z-index: 999;
	transition: .5s ease all;
}
#backArrow {
	left: -2em;
	top: 0;
}
.arrowSVG {
	height: 40px;
	position: relative;
	top: 7px;
}
.arrow {
	fill: rgba(255,255,255,.75); /* #555; */
	transition: .5s ease fill;
}
#backArrow:hover .arrow {
	fill: white; /* #f1b8ff; */
}
.projects article {
	display: none;
	border-top: 1px solid black;
	padding-top: 50px;
}
.projects article.active {
	display: block;
}
.projects .topImage {
	height: 250px;
	margin: 50px 0;
	z-index: 0;
	background-size: cover;
}
.projectContent {
	position: relative;
	margin: 0 5%;
}
.projectContent h3, .dash {
	font-size: 3rem;
	color: mediumorchid;
	letter-spacing: .05em;
	text-align: left;
}
.dash {
	color: #252525;
	line-height: 0;
	margin-bottom: .5em;
	display: none;
}
.projectContent p {
	margin-bottom: 1em;
	color: #eee;
	font-family: 'Montserrat';
	font-size: .9rem;
	letter-spacing: .02em;
	line-height: 2em;
}
.image {
	height: 300px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 50px 0;
}
.slideBox {
	height: 500px;
	background-color: mediumorchid;
	border-bottom: 2px solid mediumorchid;
	margin: 50px 0;
	position: relative;
}
.slide {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	display: none;
}
.showSlide {
	display: block;
}
.caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,.65);
	color: white;
	letter-spacing: .025em;
	padding: 20px;
}
.navButton {
	position: absolute;
	top: 42%;
	cursor: pointer;
	text-align: center;
	color: rgba(255,255,255,.75);
	font-size: 2em;
	width: 1.25em;
	background: rgba(0,0,0,.125);
	transition: .5s ease color;
}
.navButton:hover {
	color: white;
}
.previous {
	left: 0;
}
.next {
	right: 0;
}
button:focus {
	outline: 1px solid white;
}
.projectContent button {
	margin-top: 30px;
}
#occulumProject .topImage {
	background-image: url('images/occulum.jpg');
	background-size: cover;
}
#occulumProject .image1 {
	background-image: url("images/occulum_wood.jpg");
	background-position-y: 0;
}
#occulumProject .image2 {
	background-image: url("images/occulum_bottle_mock.png");
	height: 800px;
	position: relative;
}
#occulumProject #slide1 {
	background-image: url("images/occulum_sketches_1.jpg");
}
#occulumProject #slide2 {
	background-image: url("images/occulum_sketches_2.jpg");
}
#occulumProject #slide3 {
	background-image: url("images/occulum_sketches_3.jpg");
}
#occulumProject #slide4 {
	background-image: url("images/occulum_sketches_4.jpg");
}
#griffithProject .topImage {
	background-image: url('images/griffith.jpg');
	background-size: cover;
	background-position-y: 85%;
}
#griffithProject .image1 {
	background-image: url("images/griffith_main.jpg");
}
#griffithProject .image2 {
	background-image: url("images/griffith_overview.jpg");
	height: 205px;
}
#frequencyProject .topImage {
	background-image: url('images/frequency.jpg'); 
	background-position-y: 75%;
}
#frequencyProject .image1 {
	background-image: url('images/frequency_label-dark.jpg'); 
	height: 300px;
}
#frequencyProject .image2 {
	background-image: url('images/frequency_artist_1.jpg'); 
	height: 300px;
}
#frequencyProject .image3 {
	background-image: url('images/frequency_tastingNotes_1.jpg'); 
	height: 250px;
}
#frequencyProject .image4 {
	background-image: url('images/frequency_website_1.jpg'); 
	height: 500px;
	background-position: top;
}
#hpProject .topImage {
	background-image: url('images/hp.jpg');
	background-position-y: 25%;
}
#hpProject .slideBox {
	height: 100px;
}
#hpProject .slideBox .navButton {
	top: 28%;
}
#hpProject #slideBox2 .navButton {
	top: 42%;
}
#hpSlide1 {
	background-image: url("images/hp_banner_1.jpg");
}
#hpSlide2 {
	background-image: url("images/hp_banner_2.jpg");
}
#hpSlide3 {
	background-image: url("images/hp_banner_3.jpg");
}
#hpSlide4 {
	background-image: url("images/hp_banner_4.jpg");
}
#hpSlide5 {
	background-image: url("images/hp_banner_5.jpg");
}
#hpProject #slideBox2 {
	height: 420px;
}
#hpSlide6 {
	background-image: url("images/hp_adscan_1.jpg");
}
#hpSlide7 {
	background-image: url("images/hp_adscan_2.jpg");
}
#hpSlide8 {
	background-image: url("images/hp_adscan_3.jpg");
}
#hpSlide9 {
	background-image: url("images/hp_adscan_4.jpg");
}
#dipalermoProject .topImage {
	background-image: url('images/dipalermo.jpg'); 
	background-position-x: 51%; 
	background-position-y: 130%;
}
#dipalermoProject .image1 {
	background-image: url("images/dipalermo_label_1.jpg");
	height: 270px;
}
#trudeauProject .topImage {
	background-image: url('images/trudeauBread_wrapping_tile-gold.jpg');
	background-size: contain;
	background-repeat: repeat; 
	background-position-x: 51%; 
	background-position-y: 28%;
}
#trudeauProject .image1 {
	background-image: url('images/trudeau.jpg');
	height: 400px;
}
#baseChalkProject .topImage {
	background-image: url('images/baseChalk.jpg'); 
	background-position-x: 0; 
	background-position-y: 10%;
}
#baseChalkProject .slideBox {
	height: 250px;
}
#baseChalkSlide1 {
	background-image: url("images/baseChalk_logo_1.jpg");
}
#baseChalkSlide2 {
	background-image: url("images/baseChalk_logo_2.jpg");
}
#baseChalkSlide3 {
	background-image: url("images/baseChalk_logo_3.jpg");
}
#baseChalkSlide4 {
	background-image: url("images/baseChalk_logo_4.jpg");
}
#baseChalkSlide5 {
	background-image: url("images/baseChalk_logo_5.jpg");
}
#baseChalkProject .image1 {
	background-image: url("images/baseChalk_packaging.jpg");
	height: 220px;
}
#sportsBasementProject .slideBox {
	width: 500px;
	height: 620px;
}
#sportsBasementSlide1 {
	background-image: url("images/sportsBasement_priceTags_1.jpg");
}
#sportsBasementSlide2 {
	background-image: url("images/sportsBasement_priceTags_2.jpg");
}
#sportsBasementSlide3 {
	background-image: url("images/sportsBasement_priceTags_3.jpg");
}
#sportsBasementProject .topImage {
	background-image: url('images/sportsBasement.jpg'); 
	background-position-x: 45%; 
	background-position-y: 10%;
}
footer {
	margin-top: 100px;
	background: #191919;
	height: 300px;
	text-align: center;
	color: white;
	font-weight: 400;
	border-top: 1px solid black;
}
footer h3 {
	font-weight: 400;
	letter-spacing: .2em;
	margin: 3em 10px;
	text-transform: uppercase;
	opacity: .5;
}
footer img {
	height: 30%;
	opacity: .05;
	margin-bottom: 75px;
}

/* PRESS CSS ADDITIONS */

.prints {   /* -- section -- */
	position: relative;
	display: block;
	width: 100%;
	padding-top: 50px;
}
.prints h2 {
    display: inline-block;
    width: 100%;
}
.printContainer {
	display: block;
}
.print {
	display: block;
	position: relative;
	text-align: center;
}
.wide {
	max-width: 100%;
}
.tall {
	max-width: 75%;
}
.printDesc {
	position: relative;
	display: block;
	background: #333;
	border-radius: 5px;
	padding: 20px 20px 35px 20px;
	color: #eee;
	vertical-align: middle;
	margin: 12px;
}
.printDesc h2 {
    font-family: 'Raleway';
	font-size: 15px;
    letter-spacing: .075em;
    text-transform: uppercase;
    font-weight: 800;
    text-align: left;
}
.printDesc em {
	font: 17px/16px "Alegreya";
    color: #222;
    letter-spacing: .0125em;
    color: #eee;
    font-style: italic;
}
.printDesc p {
	font-family: 'Raleway';
	margin: 25px 0;
	letter-spacing: .025em;
	font-size: 11pt;
	line-height: 1.6em;
}
.date {
	font-family: 'Raleway';
    font-size: 9pt;
    float: right;
    color: #eee;
}
/*.inquire {
	display: none;
	font-family: 'Raleway';
    font-size: 9pt;
    font-weight: 800;
    letter-spacing: .075em;
    text-transform: uppercase;
}*/
.inquireCircle {
	font-family: "Alegreya";
	font-size: .75rem;
    font-weight: 500;
    font-style: italic;
    letter-spacing: .05em;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 50px;
    padding: 0 6px;
    float: left;
    transition: .5s ease all;
}
.inquireCircle:hover {
	border: 1px solid white;
	cursor: pointer;
}
#inquiry {
	padding-top: 100px;
}
#inquiry form {
	position: relative;
	padding: 40px 20px;
	border-radius: 5px;
	background: #333;
	color: white;
	margin: 12px;
}
#inquiry h3 {
	font-size: 1.5rem;
	font-weight: 300;
	color: orchid;
}
label {
	display: block;
	color: #eaeaea;
	font-family: 'Raleway';
    font-size: 9pt;
    font-weight: 400;
    letter-spacing: .125em;
    text-transform: uppercase;
    margin-bottom: .5em;
}
[type="text"], textarea {
	display: block;
	width: 100%;
	font-family: 'Raleway';
	font-size: 1.125rem;
	line-height: 1.25em;
	letter-spacing: .05em;
	color: darkorchid;
	background-color: whitesmoke;
	margin-bottom: 25px;
	border: none;
	border-radius: 3px;
	padding: 10px;
	box-sizing: border-box;
}
[type="text"]:focus, textarea:focus {
	outline: none;
	/*border: 1px solid mediumorchid;*/
	box-shadow: 0 0 10px rgba(255,255,255,.25);
}
textarea {
	height: 6em;
}
button {
    position: relative;
	background-color: rgba(0,0,0,0);
	border: 1px solid rgba(255,255,255,1);
	border-radius: 3px;
	color: white;
	font-family: "Barlow Condensed";
	font-size: 1em;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: .2em;
    padding: 15px;
    width: 14em;
    margin-top: 5px;
    left: 50%;
    margin-left: -7em;
    transition: .5s ease all;
}
button:hover {
	background-color: darkorchid;
	border: 1px solid darkorchid;
}
#bottomArrow {
	bottom: 0;
	left: 69%;
	transform: rotate(270deg);
}
#bottomArrow .arrowSVG {
	top: 8px;
	left: 4px;
}
#bottomArrow:hover .arrow {
	fill: white;
}

/* ------ LARGE DISPLAY ------ */

@media screen and (min-width: 900px) {
	header {
		height: 60px;
	}
	.title {
		float: none;
		display: inline-block;
		font-size: 1.5rem;
		margin-left: -25px;
		text-align: center;
	}
	nav {
		display: inline;
		position: absolute;
		top: 20px;
		right: 20px;
	}
	nav ul li:first-child {
		margin-right: 10px;
	}
	#backArrow {
		top: 110px;
	}
	.hero {
		background-image: url("images/prints/background-stripe-black.png");
	}
	.hero article {
		width: 25%;
		height: 350px;
	}
	.itemLetter {
		display: block;
	}
	.projects .topImage {
		height: 350px;
		background-attachment: fixed;
	}
	.projectContent {
		width: 700px;
		left: 50%;
		margin-left: -350px;
	}
	.projectContent p {
		/*width: 70%;*/
		/*margin-left: 10%;*/
	}
	.projectContent .image {
		/*width: 80%;*/
	}
	.navButton {
		top: 42%;
		font-size: 3em;
	}
	#occulumProject .image2 {
		width: 44%;
		left: 50%;
		margin-left: -22%;
	}
	#occulumProject .topImage {
		background-position-x: 68%;
		background-position-y: 18%;
	}
	#occulumProject .image1 {
		height: 600px;
	}
	#griffithProject .image1 {
		height: 650px;
	}
	#griffithProject .image2 {
		height: 444px;
	}
	#frequencyProject .image1 {
		height: 540px;
	}
	#frequencyProject .image2 {
		height: 530px;
	}
	#frequencyProject .image3 {
		height: 475px;
	}
	#frequencyProject .image4 {
		height: 1110px;
	}
	#hpProject .slideBox {
		height: 300px;
	}
	#hpProject #slideBox2 {
		height: 925px;
	}
	#dipalermoProject .image1 {
		height: 530px;
	}
	#trudeauProject .topImage {
		background-size: initial;
	}
	#baseChalkProject .image1 {
		height: 480px;
	}
	#baseChalkProject .slideBox {
		height: 420px;
	}
	footer h3 {
		letter-spacing: .75em;
		opacity: .75;
	}

	/* PRESS ADDITIONS */

	.prints {
		width: 1000px;
		left: 50%;
		margin-left: -500px;
	}
	.print {
		display: inline-block;
		width: 66%;
		vertical-align: middle;
	}
	.printDesc {
		display: inline-block;
		width: 33%;
		padding: 20px;
		vertical-align: middle;
		margin: 0;
	}
	#inquiry form {
		width: 800px;
		padding: 40px 50px;
		left: 50%;
		margin-right: 0;
		margin-left: -400px;
	}
}